@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: rgb(0, 0, 63);
  padding: 5px;
  z-index: 99999;
  position: absolute;
  width: 100%;
  box-shadow: 0px 10px 10px rgb(0, 0, 0, 0.7);
}

main {
  background-image: url("../../assets/image/fundo_site_filtro.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #00003f;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(73, 73, 73);
}
